{# generic #}
<!DOCTYPE html>
<html>
    <head>
        <!--[if lt IE 9]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="robots" content="index, follow" />
        <meta name="keywords" content="{{keywords}}" />
        <meta name="description" content="{{description}}" />
        
        <link href="/css/core.css?14529551103963" type="text/css"  rel="stylesheet" />
        <link href="/css/core_popup.css?146892092538446" type="text/css"  rel="stylesheet" />
        <link href="/css/core_date.css?145295511010303" type="text/css"  rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
{# generic #}
        <script type="text/javascript">if (!window.BX)window.BX = {message:function(mess){if (typeof mess == 'object') for (var i in mess) BX.message[i] = mess[i]; return true; }};</script>
        <script type="text/javascript">(window.BX || top.BX).message({'JS_CORE_LOADING':'Загрузка...', 'JS_CORE_NO_DATA':'- Нет данных -', 'JS_CORE_WINDOW_CLOSE':'Закрыть', 'JS_CORE_WINDOW_EXPAND':'Развернуть', 'JS_CORE_WINDOW_NARROW':'Свернуть в окно', 'JS_CORE_WINDOW_SAVE':'Сохранить', 'JS_CORE_WINDOW_CANCEL':'Отменить', 'JS_CORE_WINDOW_CONTINUE':'Продолжить', 'JS_CORE_H':'ч', 'JS_CORE_M':'м', 'JS_CORE_S':'с', 'JSADM_AI_HIDE_EXTRA':'Скрыть лишние', 'JSADM_AI_ALL_NOTIF':'Показать все', 'JSADM_AUTH_REQ':'Требуется авторизация!', 'JS_CORE_WINDOW_AUTH':'Войти', 'JS_CORE_IMAGE_FULL':'Полный размер'});</script>
        <script type="text/javascript">(window.BX || top.BX).message({'WEEK_START':'1'}); (window.BX || top.BX).message({'MONTH_1':'Январь', 'MONTH_2':'Февраль', 'MONTH_3':'Март', 'MONTH_4':'Апрель', 'MONTH_5':'Май', 'MONTH_6':'Июнь', 'MONTH_7':'Июль', 'MONTH_8':'Август', 'MONTH_9':'Сентябрь', 'MONTH_10':'Октябрь', 'MONTH_11':'Ноябрь', 'MONTH_12':'Декабрь', 'MONTH_1_S':'Января', 'MONTH_2_S':'Февраля', 'MONTH_3_S':'Марта', 'MONTH_4_S':'Апреля', 'MONTH_5_S':'Мая', 'MONTH_6_S':'Июня', 'MONTH_7_S':'Июля', 'MONTH_8_S':'Августа', 'MONTH_9_S':'Сентября', 'MONTH_10_S':'Октября', 'MONTH_11_S':'Ноября', 'MONTH_12_S':'Декабря', 'MON_1':'Янв', 'MON_2':'Фев', 'MON_3':'Мар', 'MON_4':'Апр', 'MON_5':'Май', 'MON_6':'Июн', 'MON_7':'Июл', 'MON_8':'Авг', 'MON_9':'Сен', 'MON_10':'Окт', 'MON_11':'Ноя', 'MON_12':'Дек', 'DAY_OF_WEEK_0':'Воскресенье', 'DAY_OF_WEEK_1':'Понедельник', 'DAY_OF_WEEK_2':'Вторник', 'DAY_OF_WEEK_3':'Среда', 'DAY_OF_WEEK_4':'Четверг', 'DAY_OF_WEEK_5':'Пятница', 'DAY_OF_WEEK_6':'Суббота', 'DOW_0':'Вс', 'DOW_1':'Пн', 'DOW_2':'Вт', 'DOW_3':'Ср', 'DOW_4':'Чт', 'DOW_5':'Пт', 'DOW_6':'Сб', 'FD_SECOND_AGO_0':'#VALUE# секунд назад', 'FD_SECOND_AGO_1':'#VALUE# секунду назад', 'FD_SECOND_AGO_10_20':'#VALUE# секунд назад', 'FD_SECOND_AGO_MOD_1':'#VALUE# секунду назад', 'FD_SECOND_AGO_MOD_2_4':'#VALUE# секунды назад', 'FD_SECOND_AGO_MOD_OTHER':'#VALUE# секунд назад', 'FD_SECOND_DIFF_0':'#VALUE# секунд', 'FD_SECOND_DIFF_1':'#VALUE# секунда', 'FD_SECOND_DIFF_10_20':'#VALUE# секунд', 'FD_SECOND_DIFF_MOD_1':'#VALUE# секунда', 'FD_SECOND_DIFF_MOD_2_4':'#VALUE# секунды', 'FD_SECOND_DIFF_MOD_OTHER':'#VALUE# секунд', 'FD_MINUTE_AGO_0':'#VALUE# минут назад', 'FD_MINUTE_AGO_1':'#VALUE# минуту назад', 'FD_MINUTE_AGO_10_20':'#VALUE# минут назад', 'FD_MINUTE_AGO_MOD_1':'#VALUE# минуту назад', 'FD_MINUTE_AGO_MOD_2_4':'#VALUE# минуты назад', 'FD_MINUTE_AGO_MOD_OTHER':'#VALUE# минут назад', 'FD_MINUTE_DIFF_0':'#VALUE# минут', 'FD_MINUTE_DIFF_1':'#VALUE# минута', 'FD_MINUTE_DIFF_10_20':'#VALUE# минут', 'FD_MINUTE_DIFF_MOD_1':'#VALUE# минута', 'FD_MINUTE_DIFF_MOD_2_4':'#VALUE# минуты', 'FD_MINUTE_DIFF_MOD_OTHER':'#VALUE# минут', 'FD_MINUTE_0':'#VALUE# минут', 'FD_MINUTE_1':'#VALUE# минуту', 'FD_MINUTE_10_20':'#VALUE# минут', 'FD_MINUTE_MOD_1':'#VALUE# минуту', 'FD_MINUTE_MOD_2_4':'#VALUE# минуты', 'FD_MINUTE_MOD_OTHER':'#VALUE# минут', 'FD_HOUR_AGO_0':'#VALUE# часов назад', 'FD_HOUR_AGO_1':'#VALUE# час назад', 'FD_HOUR_AGO_10_20':'#VALUE# часов назад', 'FD_HOUR_AGO_MOD_1':'#VALUE# час назад', 'FD_HOUR_AGO_MOD_2_4':'#VALUE# часа назад', 'FD_HOUR_AGO_MOD_OTHER':'#VALUE# часов назад', 'FD_HOUR_DIFF_0':'#VALUE# часов', 'FD_HOUR_DIFF_1':'#VALUE# час', 'FD_HOUR_DIFF_10_20':'#VALUE# часов', 'FD_HOUR_DIFF_MOD_1':'#VALUE# час', 'FD_HOUR_DIFF_MOD_2_4':'#VALUE# часа', 'FD_HOUR_DIFF_MOD_OTHER':'#VALUE# часов', 'FD_YESTERDAY':'вчера', 'FD_TODAY':'сегодня', 'FD_TOMORROW':'завтра', 'FD_DAY_AGO_0':'#VALUE# суток назад', 'FD_DAY_AGO_1':'#VALUE# сутки назад', 'FD_DAY_AGO_10_20':'#VALUE# суток назад', 'FD_DAY_AGO_MOD_1':'#VALUE# сутки назад', 'FD_DAY_AGO_MOD_2_4':'#VALUE# суток назад', 'FD_DAY_AGO_MOD_OTHER':'#VALUE# суток назад', 'FD_DAY_DIFF_0':'#VALUE# дней', 'FD_DAY_DIFF_1':'#VALUE# день', 'FD_DAY_DIFF_10_20':'#VALUE# дней', 'FD_DAY_DIFF_MOD_1':'#VALUE# день', 'FD_DAY_DIFF_MOD_2_4':'#VALUE# дня', 'FD_DAY_DIFF_MOD_OTHER':'#VALUE# дней', 'FD_DAY_AT_TIME':'#DAY# в #TIME#', 'FD_MONTH_AGO_0':'#VALUE# месяцев назад', 'FD_MONTH_AGO_1':'#VALUE# месяц назад', 'FD_MONTH_AGO_10_20':'#VALUE# месяцев назад', 'FD_MONTH_AGO_MOD_1':'#VALUE# месяц назад', 'FD_MONTH_AGO_MOD_2_4':'#VALUE# месяца назад', 'FD_MONTH_AGO_MOD_OTHER':'#VALUE# месяцев назад', 'FD_MONTH_DIFF_0':'#VALUE# месяцев', 'FD_MONTH_DIFF_1':'#VALUE# месяц', 'FD_MONTH_DIFF_10_20':'#VALUE# месяцев', 'FD_MONTH_DIFF_MOD_1':'#VALUE# месяц', 'FD_MONTH_DIFF_MOD_2_4':'#VALUE# месяца', 'FD_MONTH_DIFF_MOD_OTHER':'#VALUE# месяцев', 'FD_YEARS_AGO_0':'#VALUE# лет назад', 'FD_YEARS_AGO_1':'#VALUE# год назад', 'FD_YEARS_AGO_10_20':'#VALUE# лет назад', 'FD_YEARS_AGO_MOD_1':'#VALUE# год назад', 'FD_YEARS_AGO_MOD_2_4':'#VALUE# года назад', 'FD_YEARS_AGO_MOD_OTHER':'#VALUE# лет назад', 'FD_YEARS_DIFF_0':'#VALUE# лет', 'FD_YEARS_DIFF_1':'#VALUE# год', 'FD_YEARS_DIFF_10_20':'#VALUE# лет', 'FD_YEARS_DIFF_MOD_1':'#VALUE# год', 'FD_YEARS_DIFF_MOD_2_4':'#VALUE# года', 'FD_YEARS_DIFF_MOD_OTHER':'#VALUE# лет', 'CAL_BUTTON':'Выбрать', 'CAL_TIME_SET':'Установить время', 'CAL_TIME':'Время'});</script>
        <script type="text/javascript">(window.BX || top.BX).message({'LANGUAGE_ID':'ru', 'FORMAT_DATE':'DD.MM.YYYY', 'FORMAT_DATETIME':'DD.MM.YYYY HH:MI:SS', 'COOKIE_PREFIX':'BITRIX_SM', 'SERVER_TZ_OFFSET':'10800', 'SITE_ID':'s1', 'SITE_DIR':'/', 'USER_ID':'', 'SERVER_TIME':'1488014815', 'USER_TZ_OFFSET':'0', 'USER_TZ_AUTO':'Y', 'bitrix_sessid':'201a3bd81c6f8da1b6e914c4e0a8bb77'});</script>


        <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/js/core.js?1468920941112412"></script>
        <script type="text/javascript" src="/js/core_popup.js?146892092242190"></script>
        <script type="text/javascript" src="/js/core_date.js?146892093753512"></script>
{#        <script type="text/javascript" src="/js/callbitrix.js"></script>#}
        <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/studio8769a.js?148588231219911"></script>

{% block javascripts %}{% endblock %}
        
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

{# generic #}
        <title>{{title}}</title>
        <script type="text/javascript">
            window.gift_level_1 = 30.00;
            window.gift_level_2 = 35.00;
            window.gift_level_3 = 40.00;
            window.yaCounterId = 18420442;</script>

        <script>
            var currentCity = 'zaporozhye';
            if (window.devicePixelRatio !== 1) {
            var dpt = window.devicePixelRatio;
            var widthM = window.screen.width * dpt;
            var widthH = window.screen.height * dpt;
            var viewPortTag = document.createElement('meta');
            viewPortTag.id = "viewport";
            viewPortTag.name = "viewport";
            viewPortTag.content = "width=" + widthM + ", height=" + widthH;
            document.getElementsByTagName('head')[0].appendChild(viewPortTag);
            }
            BX.message({PAYIT: 'Оплатить'});
            BX.message({ORDERBUTTON: 'Заказать'});
        </script>
    </head>
    <body>
        <div id="panel"></div>
        
        {% include 'partial/basket.html.twig' %}
        
        {#menu end#}
        <div class="wrapper">
            <header class="header ">
                <div class="wrap top_wrap">
                    <a href="/">
                    <span class="logo"><br></span>
{#                    <img class="twenty-four-block" src="/images/time_header.png">#}
                    </a>

                    <div class="div_cart">
                        <a href="#" class="cart_btn cart"></a>
                    </div>
                    <div class="head_center">
                        <div class="head_center">
{#menu select proper point#}
                            <ul>
                                <li class="mobile"><a id="mobmenu" href="/">Меню</a></li>
                                <li><a href="/menu/sushi">Меню</a></li>
                                <li><a href="/delivery">Доставка</a></li>
                                <li><a href="/news">Новости</a></li>
                                <li><a href="/contacts">Контакты</a></li>
                            </ul>
                            
                            <div class="phone tel_desctop" id="headphone">
                                <u>{{phone}}</u>    
                            </div>
                            <div class="tel_mobile">
                                <a  href="tel:{{phone|replace({'-': ''})}}">{{phone}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
<!-- .header-->

{# PAGE ITSELF ! #}
            <main class="content ">

                
                {% block body %}
    
                <br/>
                <br/>
{% endblock %}            
            </main><!-- .content -->
        </div><!-- .wrapper -->
{# PAGE END! #}
{# generic #}
        <footer class="footer">
            <div class="wrap">
                <div class="foot_name">
                    <img title="!Sushi-House-logo-invert.png" src="/upload/medialibrary/408/%21Sushi-House-logo-invert.png" alt="!Sushi-House-logo-invert.png" height="38" width="102"></div>
                <div class="foot_lic" id="foot_lic_one" style="width:350px;">
                    <p>{{info_seller1}}</p>
                    <p>{{info_seller2}}</p>
                </div>
                <ul class="social">
                    <li><a id="bx_651765591_151" href="{{fb}}" class="fb" target="_blank"></a></li>
                    <li><a id="bx_651765591_152" href="{{ig}}" class="instagram" target="_blank"></a></li>
                </ul>    
            </div>
            <div class="clear"></div>
        </footer><!-- .footer -->

        <!-- Modal Window -->
        <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/tabs.js"></script>
        <script type="text/javascript">
            jQuery(function($){

            $(".phone").mask("+380 99 999 99 99");
            });
        </script>

  </body>
</html>