{% extends 'newbase.html.twig' %}

{% block stylesheets %}
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/catalog.section.list/menu_maxi/style.css?14529551107305" type="text/css"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/news.list/top_items/style.css?1452955110150" type="text/css"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/news.list/tabs/style.css?1452955110150" type="text/css"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/css/animate.css?145295511068816" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/css/autocomplete.css?1484386548733" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/css/owl.carousel.css?14843864501476" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/menu/top_menu/style.css?1452955110583" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/components/bitrix/news.list/social/style.css?1452955110150" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/styles.css?14851748899819" type="text/css"  data-template-style="true"  rel="stylesheet" />
    <link href="/local/templates/bd_sushi_shop_default/template_styles.css?1485880895163247" type="text/css"  data-template-style="true"  rel="stylesheet" />
    
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/chosen.jquery.min.js?146037302025688"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/jquery.tinyscrollbar.js?146037302012470"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/jquery.animateNumber.min.js?14603730201353"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/libphonenumber-utils.js?1460373020237410"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/jquery.maskedinput.min.js?146037302010317"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/jquery.autocomplete.js?148544009333017"></script>

    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/studio8769a.js?148588231219911"></script>

    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/basket.js?148637770442081"></script>
    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/js/owl.carousel.min.js?148438625723890"></script>
    <script type="text/javascript" src="/iiko/autocomplete/jquery.mockjaxbf04.js?146037296219052"></script>
    <script type="text/javascript" src="/iiko/autocomplete/streetse4b8.js?14843878782783"></script>
{#    <script type="text/javascript" src="/local/templates/bd_sushi_shop_default/components/bitrix/news.list/slider/scriptdb64.js?1484396037550"></script>#}

{% endblock %}

{% block body %}
    <main class="content ">
        <div class="main_tovar_box">
            <div class="wrap">
                {% include 'partial/menu_part.html.twig' with {'categories': categories} %}
            </div>
            <div class="for_poplavok">
                <div class="wrap">
                    <div class="tovar_box">
                        {% for product in products %}

                        <div
                            class="tovar animate"
                            id="bx_651765591_{{product.id}}"
                            data-price="{{product.price}}"
                            data-old-price="{{product.priceOld}}"
                            data-id="{{product.id}}"
                            data-category-id="{{product.category.id}}"
                            data-category-name="{{product.category.name}}"
                            data-half-enabled="no"
                            >
                            
                            <div class="pic">
                                <img
                                    src="{{product.image}}"
                                    alt="{{product.name}}"
                                    title="{{product.name}}"
                                    width="220"
                                    height="172"
                                    />
                                
                                <div class="mask"></div>
                                <div class="zoom"></div>
                            </div>

                            {% if product.sticker%}
                                <div class="label" style="background-color: {{product.sticker.color}}">{{product.sticker.name}}</div>
                            {% endif %}

                            <div class="about">
                                <div class="title"><span class="title">{{product.name}}</span></div>
                                <p>{{product.contains}}</p>
                            </div>
                            <div class="down">
                                <div class="tovar_info">
                                    <span class="price"><span>{{product.price}}</span> 
                                        <i class="rouble rouble_padding">грн.</i></span>
                                    <span class="gramm">{{product.weight}}</span>        
                                </div>
                                <div class="tovar_cost">
                                    <div class="colich_tov">
                                        <input type="button" value="-" class="minus_tov"/>
                                        <input type="text" value="1" class="txt_col_tov"/>
                                        <input type="button" value="+" class="plus_tov"/>
                                    </div>
                                    <input type="button" class="addtocart" value="">
                                </div>
                            </div>
                                
                            <div class="tovar_zoom">
                                <div class="pic">
                                    <img
                                        src="{{product.image}}"
                                        alt="{{product.name}}"
                                        title="{{product.name}}"
                                        />
                                    <div class="mask"></div>
                                    <div class="zoom"></div>
                                </div>
                                <div class="label" style="background-color: #FF0000">Хит сезона</div>
                                <div class="about">
                                    <div class="title">{{product.name}}</div>
                                    <p><noindex>{{product.contains}} </noindex></p>
                                </div>
                                <div class="down">
                                    <div class="tovar_info">
                                        <span class="price"><span>{{product.price}}</span> 
                                            <i class="rouble rouble_padding">грн.</i></span>
                                        <span class="gramm">{{product.weight}}</span>            </div>
                                    <div class="tovar_cost">
                                        <div class="colich_tov">
                                            <input type="button" value="-" class="minus_tov" />
                                            <input type="text" value="1" class="txt_col_tov" />
                                            <input type="button" value="+" class="plus_tov" />
                                        </div>
                                        <input type="button" class="addtocart" value="">
                                        <div class="recomend">
                                            <p>Рекомендую</p>
                                            <a class="like  you_not_like_bitch" href="#"><span>64</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .tovar -->
                        
                        {% endfor %}
                        

                    </div>
                    <div class="clear"></div> 
                    {% include 'default/gift.html.twig' %}
                </div>
            </div>
        </div>
        <div class="wrap">
            {% include 'default/rules.html.twig' %}
        </div>
        <br>
        <div id="modalBox" style="display:none;" data-tovar-id="">
            <span id="modalClose">X</span>
        </div>
        <div id="overlay">
        </div>
        <br>
        <div id="overlay"></div>    
    </main>{# PAGE END! #}
{% endblock %}